<%= form_for(cliente) do |f| %>
  <% if cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h5 class="text-center text-muted">
  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>
</h5>
<h5 class="text-center text-muted">
  <div class="field">
    <%= f.label :rut %>
    <%= f.text_field :rut %>
  </div>
</h5>
<h5 class="text-center text-muted">
  <div class="field">
    <%= f.label :correo %>
    <%= f.text_field :correo %>
  </div>
</h5>
<h5 class="text-center text-muted">
  <div class="field">
    <%= f.label :telefono %>
    <%= f.text_field :telefono %>
  </div>
</h5>
<h5 class="text-center text-muted">
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</h5>