<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<div class="panel panel-default">
  
  <table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Rut</th>
      <th>Correo</th>
      <th>Telefono</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.nombre %></td>
        <td><%= cliente.rut %></td>
        <td><%= cliente.correo %></td>
        <td><%= cliente.telefono %></td>
        <td><%= link_to 'Mostrar', cliente ,class:"btn btn-success" %></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente),class:"btn btn-info" %></td>
        <td><%= link_to 'Eliminar', cliente, method: :delete, data: { confirm: 'Estas Seguro?' }, class:"btn btn-danger"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>



<br>

<%= link_to 'Nuevo Cliente', new_cliente_path, class:"btn btn-primary"  %>
<%= link_to 'Volver a Inicio', root_path %>