<p id="notice"><%= notice %></p>
<h5 class="text-center text-muted">
<p>
  <strong>Nombre:</strong>
  <%= @cliente.nombre %>
</p>
</h5>
<h5 class="text-center text-muted">
<p>
  <strong>Rut:</strong>
  <%= @cliente.rut %>
</p>
</h5>
<h5 class="text-center text-muted">
<p>
  <strong>Correo:</strong>
  <%= @cliente.correo %>
</p>
</h5>
<h5 class="text-center text-muted">
<p>
  <strong>Telefono:</strong>
  <%= @cliente.telefono %>
</p>
</h5>

<h5 class="text-center text-muted"><%= link_to 'Editar', edit_cliente_path(@cliente) %> </h5>|
<h5 class="text-center text-muted"><%= link_to 'Volver', clientes_path %></h5>
