<%= form_for(venta_ticket) do |f| %>
  <% if venta_ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(venta_ticket.errors.count, "error") %> prohibited this venta_ticket from being saved:</h2>

      <ul>
      <% venta_ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h5 class="text-center text-muted">
  <div class="field">
    <%= f.label :fecha %>
    <%= f.datetime_select :fecha %>
  </div>
</h5>
<h5 class="text-center text-muted">
  <div class="field">
    <%= f.label :monto %>
    <%= f.number_field :monto %>
  </div>
</h5>
<h5 class="text-center text-muted">
  <div class="field">
    <%= f.label :tipo_pago %>
    <%= f.number_field :tipo_pago %>
  </div>
</h5>
<h5 class="text-center text-muted">
  <div class="field">
    <%= f.label :cantidad %>
    <%= f.number_field :cantidad %>
  </div>
</h5>
<h5 class="text-center text-muted">
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</h5>