<p id="notice"><%= notice %></p>

<h1>Boleta de ventas</h1>

<div class="panel panel-default">
  
  <table class="table">
    <thead>
    <tr>
      <th>Fecha</th>
      <th>Monto</th>
      <th>Tipo pago</th>
      <th>Cantidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @venta_tickets.each do |venta_tickets| %>
      <tr>
        <td><%= venta_tickets.fecha %></td>
        <td><%= venta_tickets.monto %></td>
        <td><%= venta_tickets.tipo_pago %></td>
        <td><%= venta_tickets.cantidad %></td>
        <td><%= link_to 'Mostrar', venta_tickets,class:"btn btn-success" %></td>
        <td><%= link_to 'Editar', edit_venta_ticket_path(venta_tickets),class:"btn btn-info" %></td>
        <td><%= link_to 'Eliminar', venta_tickets, method: :delete, data: { confirm: 'Estas seguro?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Nueva boleta venta', new_venta_ticket_path, class:"btn btn-primary"  %>
<%= link_to 'Volver a Inicio', root_path %>