<p id="notice"><%= notice %></p>
<h5 class="text-center text-muted">
<p>
  <strong>Fecha:</strong>
  <%= @venta_ticket.fecha %>
</p>
</h5>
<h5 class="text-center text-muted">
<p>
  <strong>Monto:</strong>
  <%= @venta_ticket.monto %>
</p>
</h5>
<h5 class="text-center text-muted">
<p>
  <strong>Tipo pago:</strong>
  <%= @venta_ticket.tipo_pago %>
</p>
</h5>
<h5 class="text-center text-muted">
<p>
  <strong>Cantidad:</strong>
  <%= @venta_ticket.cantidad %>
</p>
</h5>
<h5 class="text-center text-muted"><%= link_to 'Editar', edit_venta_ticket_path(@venta_ticket) %> </h5>|
<h5 class="text-center text-muted"><%= link_to 'Volver', venta_tickets_path %></h5>
