<h2>Reenviar Instrucciones de confirmacion</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
<h5 class="text-center text-muted">
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>
</h5>
<h5 class="text-center text-muted">
  <div class="actions">
    <%= f.submit "Reenviar Instrucciones de confirmacion" %>
  </div>
<% end %>
</h5>
<%= render "devise/shared/links" %>
