<h2>Editar Contraseña <%=%></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

 

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <h5 class="text-center text-muted">
  <div class="field">
    <%= f.label :nombre %> <i>(Necesita la contraseña actual para realizar cambios)</i><br />
    <%= f.password_field :nombre, autocomplete: "off" %>
  </div>
</h5>
<h5 class="text-center text-muted">
  <div class="field">
    <%= f.label :telefono %> <i>(Necesita la contraseña actual para realizar cambios)</i><br />
    <%= f.number_field :telefono, autocomplete: "off" %>
  </div>
</h5>

<h5 class="text-center text-muted">
  <div class="field">
    <%= f.label :user_role %> <i>(Necesita la contraseña actual para realizar cambios)</i><br />
    <%= f.text_field :user_role, autocomplete: "off" %>
  </div>
</h5>

<h5 class="text-center text-muted">
  <div class="field">
    <%= f.label :current_password %> <i>(Necesita la contraseña actual para realizar cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
</h5>
<h5 class="text-center text-muted">
  <div class="field">
    <%= f.label :password %> <i>(Deje en blanco si no desea realizar cambios)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>
</h5>
<h5 class="text-center text-muted">
  <div class="field">
    <%= f.label :password_confirmation %><i>(Ingrese la nueva contraseña nuevamente)</i><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
</h5>
<h5 class="text-center text-muted">
  <div class="field">
    <%= f.label :current_password %> <i>(Necesita la contraseña actual para realizar cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
</h5>
<h5 class="text-center text-muted">
  <div class="actions">
    <%= f.submit "Actualizar" %>
  </div>
<% end %>
</h5>
<h5 class="text-center text-muted">
Cancelar mi cuenta

<p>Insatisfecho? <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Estas seguro?" }, method: :delete %></p>
</h5>
<h5 class="text-center text-muted">
<%= link_to "Volver", root_path %>
</h5>
