
<p id="notice"><%= notice %></p>

<h1>Trabajadores</h1>

<div class="panel panel-default">
  
  <table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Rut</th>
      <th>Telefono</th>
      <th>Correo</th>
      <th>Tipo trabajador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trabajadors.each do |trabajador| %>
      <tr>
        <td><%= trabajador.nombre %></td>
        <td><%= trabajador.rut %></td>
        <td><%= trabajador.telefono %></td>
        <td><%= trabajador.correo %></td>
        <td><%= trabajador.tipo_traba %></td>
        <td><%= link_to 'Mostrar', trabajador,class:"btn btn-success" %></td>

        <td><%= link_to 'Editar', edit_trabajador_path(trabajador),class:"btn btn-info"  %></td>
        <td><%= link_to 'Eliminar', trabajador, method: :delete, data: { confirm: 'Estas seguro?' },class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Nuevo Trabajador', new_trabajador_path, class:"btn btn-primary"  %>
<%= link_to 'Volver a Inicio', root_path %> 