<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @trabajador.nombre %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @trabajador.rut %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @trabajador.telefono %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @trabajador.correo %>
</p>

<p>
  <strong>Tipo traba:</strong>
  <%= @trabajador.tipo_traba %>
</p>

<%= link_to 'Edit', edit_trabajador_path(@trabajador) %> |
<%= link_to 'Back', trabajadors_path %>
