<p id="notice"><%= notice %></p>
<h5 class="text-center text-muted">
<p>
  <strong>Nombre:</strong>
  <%= @trabajador.nombre %>
</p>
</h5>
<h5 class="text-center text-muted">
<p>
  <strong>Rut:</strong>
  <%= @trabajador.rut %>
</p>
</h5>
<h5 class="text-center text-muted">
<p>
  <strong>Telefono:</strong>
  <%= @trabajador.telefono %>
</p>
</h5>
<h5 class="text-center text-muted">
<p>
  <strong>Correo:</strong>
  <%= @trabajador.correo %>
</p>
</h5>
<h5 class="text-center text-muted">
<p>
  <strong>Tipo traba:</strong>
  <%= @trabajador.tipo_traba %>
</p>
</h5>
<h5 class="text-center text-muted"><%= link_to 'Editar', edit_trabajador_path(@trabajador) %></h5> |
<h5 class="text-center text-muted"><%= link_to 'Volver', trabajadors_path %></h5>
