<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @proveedor.nombre %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @proveedor.rut %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @proveedor.correo %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @proveedor.telefono %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @proveedor.empresa %>
</p>

<%= link_to 'Edit', edit_proveedor_path(@proveedor) %> |
<%= link_to 'Back', proveedors_path %>
