<p id="notice"><%= notice %></p>
<h5 class="text-center text-muted">
<p>
  <strong>Nombre:</strong>
  <%= @proveedor.nombre %>
</p>
</h5>
<h5 class="text-center text-muted">
<p>
  <strong>Rut:</strong>
  <%= @proveedor.rut %>
</p>
</h5>
<h5 class="text-center text-muted">
<p>
  <strong>Correo:</strong>
  <%= @proveedor.correo %>
</p>
</h5>
<h5 class="text-center text-muted">
<p>
  <strong>Telefono:</strong>
  <%= @proveedor.telefono %>
</p>
</h5>
<h5 class="text-center text-muted">
<p>
  <strong>Empresa:</strong>
  <%= @proveedor.empresa %>
</p>
</h5>
<h5 class="text-center text-muted"><%= link_to 'Editar', edit_proveedor_path(@proveedor) %> </h5>|
<h5 class="text-center text-muted"><%= link_to 'Volver', proveedors_path %></h5>
