<p id="notice"><%= notice %></p>

<h1>Boleta de Compras</h1>

<div class="panel panel-default">
  
  <table class="table">
    <thead>
    <tr>
      <th>Fecha</th>
      <th>Monto</th>
      <th>Tipo pago</th>
      <th>Cantidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boleta_compras.each do |boleta_compra| %>
      <tr>
        <td><%= boleta_compra.fecha %></td>
        <td><%= boleta_compra.monto %></td>
        <td><%= boleta_compra.tipo_pago %></td>
        <td><%= boleta_compra.cantidad %></td>
        <td><%= link_to 'Mostrar', boleta_compra,class:"btn btn-success" %></td>
        <td><%= link_to 'Editar', edit_boleta_compra_path(boleta_compra),class:"btn btn-info" %></td>
        <td><%= link_to 'Eliminar', boleta_compra, method: :delete, data: { confirm: 'Estas seguro?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Nueva Boleta Compra', new_boleta_compra_path, class:"btn btn-primary"  %>
<%= link_to 'Volver a Inicio', root_path %>