<%= form_for(carro_ventum) do |f| %>
  <% if carro_ventum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(carro_ventum.errors.count, "error") %> prohibited this carro_ventum from being saved:</h2>

      <ul>
      <% carro_ventum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cantidad %>
    <%= f.text_field :cantidad %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
