<p id="notice"><%= notice %></p>

<h1>Carro Venta</h1>

<table>
  <thead>
    <tr>
      <th>Cantidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carro_venta.each do |carro_ventum| %>
      <tr>
        <td><%= carro_ventum.cantidad %></td>
        <td><%= link_to 'Show', carro_ventum %></td>
        <td><%= link_to 'Edit', edit_carro_ventum_path(carro_ventum) %></td>
        <td><%= link_to 'Destroy', carro_ventum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carro Ventum', new_carro_ventum_path %>
