<%= form_for(carro_vente) do |f| %>
  <% if carro_vente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(carro_vente.errors.count, "error") %> prohibited this carro_vente from being saved:</h2>

      <ul>
      <% carro_vente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cantidad_prod %>
    <%= f.text_field :cantidad_prod %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
