<p id="notice"><%= notice %></p>

<h1>Carro Ventes</h1>

<table>
  <thead>
    <tr>
      <th>Cantidad prod</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carro_ventes.each do |carro_vente| %>
      <tr>
        <td><%= carro_vente.cantidad_prod %></td>
        <td><%= link_to 'Show', carro_vente %></td>
        <td><%= link_to 'Edit', edit_carro_vente_path(carro_vente) %></td>
        <td><%= link_to 'Destroy', carro_vente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carro Vente', new_carro_vente_path %>
