<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @producto.nombre %>
</p>

<p>
  <strong>Stock act:</strong>
  <%= @producto.stock_act %>
</p>

<p>
  <strong>Stock min:</strong>
  <%= @producto.stock_min %>
</p>

<p>
  <strong>Precio compra:</strong>
  <%= @producto.precio_compra %>
</p>

<p>
  <strong>Precio venta:</strong>
  <%= @producto.precio_venta %>
</p>

<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
