<p id="notice"><%= notice %></p>

<h1>Carro Compras</h1>

<table>
  <thead>
    <tr>
      <th>Cantidad prod</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carro_compras.each do |carro_compra| %>
      <tr>
        <td><%= carro_compra.cantidad_prod %></td>
        <td><%= link_to 'Mostrar', carro_compra %></td>
        <td><%= link_to 'Editar', edit_carro_compra_path(carro_compra) %></td>
        <td><%= link_to 'Eliminar', carro_compra, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Carro de Compra', new_carro_compra_path %>
