<p id="notice"><%= notice %></p>

<h1>Carro Compras</h1>

<table>
  <thead>
    <tr>
      <th>Cantidad prod</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carro_compras.each do |carro_compra| %>
      <tr>
        <td><%= carro_compra.cantidad_prod %></td>
        <td><%= link_to 'Show', carro_compra %></td>
        <td><%= link_to 'Edit', edit_carro_compra_path(carro_compra) %></td>
        <td><%= link_to 'Destroy', carro_compra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carro Compra', new_carro_compra_path %>
