<p id="notice"><%= notice %></p>
<h5 class="text-center text-muted">
<p>
  <strong>Fecha:</strong>
  <%= @boleta_ventum.fecha %>
</p>
</h5>
<h5 class="text-center text-muted">
<p>
  <strong>Monto:</strong>
  <%= @boleta_ventum.monto %>
</p>
</h5>
<h5 class="text-center text-muted">
<p>
  <strong>Tipo pago:</strong>
  <%= @boleta_ventum.tipo_pago %>
</p>
</h5>
<h5 class="text-center text-muted">
<p>
  <strong>Cantidad:</strong>
  <%= @boleta_ventum.cantidad %>
</p>
</h5>
<h5 class="text-center text-muted"><%= link_to 'Editar', edit_boleta_ventum_path(@boleta_ventum) %></h5> |
<h5 class="text-center text-muted"><%= link_to 'Volver', boleta_venta_index_path %></h5>
