<%= form_for(registro) do |f| %>
  <% if registro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(registro.errors.count, "error") %> prohibited this registro from being saved:</h2>

      <ul>
      <% registro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha %>
    <%= f.datetime_select :fecha %>
  </div>

  <div class="field">
    <%= f.label :hora_ingreso %>
    <%= f.datetime_select :hora_ingreso %>
  </div>

  <div class="field">
    <%= f.label :hora_salida %>
    <%= f.datetime_select :hora_salida %>
  </div>

  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
