<p id="notice"><%= notice %></p>

<h1>Lista de Registros</h1>

<div class="panel panel-default">
  
  <table class="table">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Ingreso</th>
      <th>Salida</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registros.each do |registry| %>
      <tr>
        <td><%= @registros.fecha %></td>
    <td><%= @registros.hora_ingreso %></td>
    <td><%= @registros.hora_salida %></td>
        <td><%= link_to 'Mostrar', registros %></td>
        <td><%= link_to 'marcar salida', edit_registro_path(registry) %></td>
        <td><%= link_to 'Eliminar', registros, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Nuevo Registro', new_registro_path , class:"btn btn-primary" %>
<%= link_to 'Volver a Inicio', root_path %>