<p id="notice"><%= notice %></p>

<h1>Registros</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Hora ingreso</th>
      <th>Hora salida</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registros.each do |registro| %>
      <tr>
        <td><%= registro.fecha %></td>
        <td><%= registro.hora_ingreso %></td>
        <td><%= registro.hora_salida %></td>
        <td><%= link_to 'Mostrar', registro %></td>
        <td><%= link_to 'Editar', edit_registro_path(registro) %></td>
        <td><%= link_to 'Eliminar', registro, method: :delete, data: { confirm: 'Estas seguros?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Registro', new_registro_path %>
