<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @registro.fecha %>
</p>

<p>
  <strong>Hora ingreso:</strong>
  <%= @registro.hora_ingreso %>
</p>

<p>
  <strong>Hora salida:</strong>
  <%= @registro.hora_salida %>
</p>



<%= link_to 'Editar', edit_registro_path(@registro) %> |
<%= link_to 'Volver', registros_path %>
